#include "{{ name }}.h"
#include <math.h>
#include <stdlib.h>

bool deterministic = false;

const float output_std[4] = {
{% for v in output_std %}
    {{ v }},
{% endfor %}
};

const float gate_pos[NUM_GATES][3] = {
{% for p in gate_pos %}
    { {{ p[0] }}, {{ p[1] }}, {{ p[2] }} },
{% endfor %}
};

const float gate_yaw[NUM_GATES] = {
{% for y in gate_yaw %}
    {{ y }},
{% endfor %}
};

const float start_pos[3] = { {{ start_pos[0] }}, {{ start_pos[1] }}, {{ start_pos[2] }} };
const float start_yaw = {{ start_yaw }};

const float gate_pos_rel[NUM_GATES][3] = {
{% for p in gate_pos_rel %}
    { {{ p[0] }}, {{ p[1] }}, {{ p[2] }} },
{% endfor %}
};

const float gate_yaw_rel[NUM_GATES] = {
{% for y in gate_yaw_rel %}
    {{ y }},
{% endfor %}
};

uint8_t target_gate_index = 0;

void nn_reset(void) {
    target_gate_index = 0;
}

void nn_set_deterministic(bool value) {
    deterministic = value;
}

void nn_control(const float world_state[16], float motor_cmds[4]) {
    float pos[3] = {world_state[0], world_state[1], world_state[2]};
    float vel[3] = {world_state[3], world_state[4], world_state[5]};
    float yaw = world_state[8];

    float target_pos[3] = {gate_pos[target_gate_index][0], gate_pos[target_gate_index][1], gate_pos[target_gate_index][2]};
    float target_yaw = gate_yaw[target_gate_index];

    if (cosf(target_yaw) * (pos[0] - target_pos[0]) + sinf(target_yaw) * (pos[1] - target_pos[1]) > 0) {
        target_gate_index = (target_gate_index + 1) % NUM_GATES;
        target_pos[0] = gate_pos[target_gate_index][0];
        target_pos[1] = gate_pos[target_gate_index][1];
        target_pos[2] = gate_pos[target_gate_index][2];
        target_yaw = gate_yaw[target_gate_index];
    }

    float pos_rel[3] = {
        cosf(target_yaw)*(pos[0]-target_pos[0]) + sinf(target_yaw)*(pos[1]-target_pos[1]),
        -sinf(target_yaw)*(pos[0]-target_pos[0]) + cosf(target_yaw)*(pos[1]-target_pos[1]),
        pos[2] - target_pos[2]
    };
    float vel_rel[3] = {
        cosf(target_yaw)*vel[0] + sinf(target_yaw)*vel[1],
        -sinf(target_yaw)*vel[0] + cosf(target_yaw)*vel[1],
        vel[2]
    };
    float yaw_rel = yaw - target_yaw;
    while (yaw_rel >  M_PI) { yaw_rel -= 2*M_PI; }
    while (yaw_rel < -M_PI) { yaw_rel += 2*M_PI; }

    float nn_input[16+4*GATES_AHEAD];
    for (int i = 0; i < 3; i++) {
        nn_input[i]   = pos_rel[i];
        nn_input[i+3] = vel_rel[i];
    }
    nn_input[6]  = world_state[6];
    nn_input[7]  = world_state[7];
    nn_input[8]  = yaw_rel;
    nn_input[9]  = world_state[9];
    nn_input[10] = world_state[10];
    nn_input[11] = world_state[11];
    const float w_min = {{ w_min }}, w_max = {{ w_max }};
{% for k in range(4) %}
    nn_input[{{ 12 + k }}] = (world_state[{{ 12 + k }}] - w_min) * 2 / (w_max - w_min) - 1;
{% endfor %}
    for (int i = 0; i < GATES_AHEAD; i++) {
        uint8_t index = (target_gate_index + i + 1) % NUM_GATES;
        nn_input[16+4*i]   = gate_pos_rel[index][0];
        nn_input[16+4*i+1] = gate_pos_rel[index][1];
        nn_input[16+4*i+2] = gate_pos_rel[index][2];
        nn_input[16+4*i+3] = gate_yaw_rel[index];
    }

    float nn_output[4];
    nn_forward(nn_input, nn_output);

    if (!deterministic) {
        for (int i = 0; i < 4; i++) {
            float u1 = (float)rand() / RAND_MAX;
            float u2 = (float)rand() / RAND_MAX;
            nn_output[i] += output_std[i] * sqrtf(-2*logf(u1)) * cosf(2*M_PI*u2);
        }
    }

    for (int i = 0; i < 4; i++) {
        if (nn_output[i] > {{ u_max }}) nn_output[i] = {{ u_max }};
        if (nn_output[i] < -1) nn_output[i] = -1;
        motor_cmds[i] = (nn_output[i] + 1) / 2;
    }
}
