#ifndef {{ name | upper }}_H
#define {{ name | upper }}_H

#include <stdint.h>
#include <stdbool.h>

#define GATES_AHEAD {{ gates_ahead }}
#define NUM_GATES {{ num_gates }}

#include "neural_network.h"

extern const float gate_pos[NUM_GATES][3];
extern const float gate_yaw[NUM_GATES];
extern const float start_pos[3];
extern const float start_yaw;
extern uint8_t target_gate_index;

void nn_reset(void);
void nn_set_deterministic(bool value);
void nn_control(const float world_state[16], float motor_cmds[4]);

#endif
